################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Dotnetcore.Windowdocker/v15
/Dotnetcore.Windowdocker/bin/Debug/netcoreapp2.1
/Dotnetcore.Windowdocker/obj
/bin
/.vs/Dotnetcore.Windowdocker/DesignTimeBuild
/Dotnetcore.Windowdocker/bin/Release/netcoreapp2.1
/obj
